<h4>Aciertos:<span id='hits'>0</span></h4>
<h3 class="text-center">
	<%= question[:question]%>
</h3>
<%= image_tag question[:image], id: 'teddy-home', class: 'img-responsive'%>	
<div class="row">
	<%if question[:answer]%>
		<div class="col-md-6">
			<%= link_to "VERDADERO",another_question_path(hit: true, num_q: question[:id], player: player), remote: true, class: "btn btn-default", id:"true"%>
		</div>
		<div class="col-md-6">		 
			<%= link_to "FALSO",another_question_path(hit: false, num_q: question[:id], player: player), remote: true, class: "btn btn-default", id:"false"%>
		</div>

	<%else%>
		<div class="col-md-6">
			<%= link_to "VERDADERO",another_question_path(hit: false, num_q: question[:id], player: player), remote: true, class: "btn btn-default", id:"true"%>
		</div>
		<div class="col-md-6">		 
			<%= link_to "FALSO",another_question_path(hit: true, num_q: question[:id], player: player), remote: true, class: "btn btn-default", id:"false"%>
		</div>
	<%end%>
</div>